{% layout 'layout.liquid' %}


{% block header %}
<h1>Pokedex</h1>
{% endblock%}
{% block navBar %}
<form action="/team" method="GET">
    <input class="nav-btn" type="submit" value="View Teams">
    <input class="nav-btn" type="submit" formaction="/user/logout" formmethod="GET" value="Log Out">
</form>
{% endblock %}

{% block content %}
<div class="container">
    <!-- <form action="/pokemon/new" method="GET">
        <input class="edit-btn form-btn" type="submit" value="Add Pokemon">
    </form> -->
    <div class="pokedex">
        {% for pokemon in allPokemon %}
        <div class="pokedex-entry-index">
            <p class="pokedex-entry-id">ID:{{ pokemon.id}}</p>
            <p class="pokedex-entry-name">{{ pokemon.name | capitalize}}</p>
            <a class="pokedex-img-link" href="/pokemon/{{pokemon._id}}"><img class="pokedex-img" src="
                {% if pokemon.sprites.front_default != null %}
                {{ pokemon.sprites.front_default }}
                {% elsif pokemon.sprites.front_female != null %}
                {{ pokemon.sprites.front_female }}
                {% else %}
                https://upload.wikimedia.org/wikipedia/commons/thumb/4/46/Question_mark_%28black%29.svg/800px-Question_mark_%28black%29.svg.png
                {% endif %}" alt=""></a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}


{% block footer %}

{% endblock %}