{% layout "layout.liquid" %}
{% block header %}
<h1>Pokedex Entry - {{pokemon.name | capitalize}}</h1>
{% endblock%}
{% block navBar %}
<form action="/pokemon" method="GET">
    <input class="nav-btn" type="submit" value="Back">
    <input class="nav-btn" type="submit" formaction="/team" formmethod="GET" value="View Teams">
    <input class="nav-btn" type="submit" formaction="/user/logout" formmethod="GET" value="Log Out">
</form>
{% endblock %}


{% block content %}
<div class="container">
    <div class="pokemon-entry-grid-template">
        <div class="pokemon-entry-quicklook grid-item">
            <p><strong>ID:</strong> {{pokemon.id }}</p>
            <hr>
            <p><strong>Name:</strong> {{pokemon.name | capitalize}}</p>
            <div class="pokemon-entry-quicklook-img-div">
                <img id="pokemon-entry-quicklook-img" src="
                {% if pokemon.sprites.front_default != null %}
                {{ pokemon.sprites.front_default }}
                {% elsif pokemon.sprites.front_female != null %}
                {{ pokemon.sprites.front_female }}
                {% else %}
                https://upload.wikimedia.org/wikipedia/commons/thumb/4/46/Question_mark_%28black%29.svg/800px-Question_mark_%28black%29.svg.png
                {% endif %}" alt="">
                <h2>Add to</h2>
                <hr>
                <div class="add-pokemon">
                    {% if qtyOpenTeams > 0 %}
                    <form class="frm-add-btn" action="/team?_method=PUT" method="POST">
                        <!-- dropdown of teams, only allow submit if team is choosen -->
                        <select name="pageData">
                            {% for team in openTeams %}
                            <option value="{{team._id}},{{pokemon._id}},{{pokemon.name}},{% if pokemon.sprites.front_default != null %}{{ pokemon.sprites.front_default }}{% elsif pokemon.sprites.front_female != null %}{{ pokemon.sprites.front_female }}{% else %}
                                https://upload.wikimedia.org/wikipedia/commons/thumb/4/46/Question_mark_%28black%29.svg/800px-Question_mark_%28black%29.svg.png
                            {% endif %}
                            ">{{team.teamName}} | {{ team.teamMembers.length }}</option>
                            {% endfor %}
                        </select>
                        <input class="add-btn-newTeam" type="submit" value="Add To Team">
                    </form>
                    {% else %}
                    <form class="frm-add-btn" action="/team/new" method="GET">
                        <input class="add-btn-newTeam" type="submit" value="Crete new team">
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="pokemon-entry-stats grid-item">
            <h2>Base Stats</h2>
            <hr>
            {% for stat in pokemon.stats %}
            <p><strong>{{stat.stat.name | capitalize}}:</strong> {{stat.base_stat}}</p>
            {% endfor %}
        </div>
        <div class="pokemon-entry-details grid-item">
            <h2>Type</h2>
            <hr>
            <ul class="pokemon-type">
                {% for type in pokemon.types %}
                <li>{{type.type.name | capitalize}}</li>
                {% endfor %}
            </ul>
            <h2>Abilities</h2>
            <hr>
            <ul class="pokemon-abilities">
                {% for ability in pokemon.abilities %}
                <li>{{ability.ability.name | capitalize}}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="pokemon-entry-moves grid-item">
            <h2>Moves</h2>
            <hr>
            <ul class="pokemon-abilities">
                {% for move in pokemon.moves %}
                <li>{{move.move.name | capitalize}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock%}