{% layout "layout.liquid" %}
{% block header %}
<form action="/pokemon" method="GET">
    <input class="back-btn form-btn" type="submit" value="Back">
</form>
<h1>Pokedex Entry - {{pokemon.name}}</h1>
{% endblock%}

{% block content %}
<div class="container">
    <div class="pokemon-entry-grid-template">
        <div class="pokemon-entry-quicklook grid-item">
            <p><strong>ID:</strong> {{pokemon.id }}</p>
            <hr>
            <p><strong>Name:</strong> {{pokemon.name | capitalize}}</p>
            <div class="pokemon-entry-quicklook-img-div">
                <img id="pokemon-entry-quicklook-img" src="
                {% if pokemon.sprites.front_default != null %}
                {{ pokemon.sprites.front_default }}
                {% elsif pokemon.sprites.front_female != null %}
                {{ pokemon.sprites.front_female }}
                {% else %}
                https://upload.wikimedia.org/wikipedia/commons/thumb/4/46/Question_mark_%28black%29.svg/800px-Question_mark_%28black%29.svg.png
                {% endif %}" alt="">
                <form class="frm-add-btn" action="/team/{{ pokemon._id }}/index" method="GET">
                    <input class="add-btn" type="submit" value="+">
                </form>
            </div>
        </div>
        <div class="pokemon-entry-stats grid-item">
            <h2>Base Stats</h2>
            <hr>
            {% for stat in pokemon.stats %}
            <p><strong>{{stat.stat.name | capitalize}}:</strong> {{stat.base_stat}}</p>
            {% endfor %}
        </div>
        <div class="pokemon-entry-details grid-item">
            <h2>Type</h2>
            <hr>
            <ul class="pokemon-type">
                {% for type in pokemon.types %}
                <li>{{type.type.name | capitalize}}</li>
                {% endfor %}
            </ul>
            <h2>Abilities</h2>
            <hr>
            <ul class="pokemon-abilities">
                {% for ability in pokemon.abilities %}
                <li>{{ability.ability.name | capitalize}}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="pokemon-entry-moves grid-item">
            <h2>Moves</h2>
            <hr>
            <ul class="pokemon-abilities">
                {% for move in pokemon.moves %}
                <li>{{move.move.name | capitalize}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock%}