{% layout 'layout.liquid' %}


{% block header %}
<h1>Edit Team</h1>
{% endblock %}
{% block navBar %}
<form action="/pokemon" method="GET">
    <input class="nav-btn" type="submit" value="Back to Pokemon">
    <input class="nav-btn" type="submit" formaction="/team" formmethod="GET" value="back to Teams">
</form>
{% endblock %}

{% block content %}
<div class="container">
    <div class="container-teams">
        <div class="form-team">
            <form action="/team/{{editTeam._id}}" method="PUT">
                <p class="frm-team-name">Team Name<span class="text-red">*</span>:<input type="text" name="teamName" value="{{editTeam.teamName}}" placeholder="Team Name"></p>
                <p class="frm-team-img">Team Icon:
                    <input type="text" name="teamImg" value="{{editTeam.teamImg}}" placeholder="Team Icon">
                </p>
                <!-- maybe a color? -->
                <br>
                <br>
                <h2>Your Teams</h2>
                <div class="team-div">
                    {{ editTeam.teamName}}
                    <div class="team-btns">
                        <form รง method="POST">
                            <input class="delete-btn btn" type="submit" value="Delete Team" formaction="/team/{{editTeam._id}}?_method=DELETE" formmethod="POST" >
                        </form>
                    </div>
                    <ul class="teamMembers">
                        {% for member in editTeam.teamMembers %}
                        <li class="team-member">
                            <a href="/pokemon/{{member.pokemonId}}"></a><img src="{{member.pokemonImg}}" alt=""></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <input class="frm-team-btn" type="submit" value="Update Team">
            </form>
        </div>
    </div>
</div>
{% endblock %}


{% block footer %}

{% endblock %}