{% layout 'layout.liquid' %}


{% block header %}
<h1>Pokemon Teams</h1>
{% endblock %}
{% block navBar %}
<form action="/pokemon" method="GET">
    <input class="nav-btn" type="submit" value="View Pokemon">
    <input class="nav-btn" type="submit" formaction="/team/new" formmethod="GET" value="Create New Team">
    <input class="nav-btn" type="submit" formaction="/user/logout" formmethod="GET" value="Log Out">
</form>
{% endblock %}


{% block content %}
<div class="container">
    <div class="container-teams">
        <!-- For loop to display all of your teams in their own divs -->
        <div id="myTeams">
            <h2>Your Teams</h2>
            <div class="team-box">
                {% for team in myTeams %}
                <div class="team-div">
                    {{ team.teamName}}
                    <div class="team-btns">
                        <form action="/team/{{team._id}}/edit" method="GET">
                            <input class="edit-btn btn" type="submit" value="Edit Team">
                            <input class="delete-btn btn" formaction="/team/{{team._id}}?_method=DELETE"
                                formmethod="POST" type="submit" value="Delete Team">
                        </form>
                    </div>
                    <ul class="teamMembers">
                        {% for member in team.teamMembers %}
                        <li class="team-member">
                            <a href="/pokemon/{{member.pokemonId}}"><img src="{{member.pokemonImg}}" alt=""></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endfor %}
            </div>
        </div>
        <!-- For loop to display all existing teams in their own divs -->
        <div id="otherTeams">
            <!-- only allow edit if the user owns the team -->
            <h2>Other Teams</h2>
            <div class="team-box">
                {% for team in otherTeams %}
                {% if team.teamMembers.length > 0 %}
                <div class="team-div">
                    {{ team.teamName}}
                    <div class="team-btns">
                        {{team.username}}
                    </div>
                    <ul class="teamMembers">
                        {% for member in team.teamMembers %}
                        <li class="team-member">
                            <a href="/pokemon/{{member.pokemonId}}"><img src="{{member.pokemonImg}}" alt=""></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block footer %}

{% endblock %}